*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
.darktheme{
    --primary-color:#000106;
    --secondary-color:#fff;
}
body{ 
    background-color: #edf2fc;
}
.hero.darktheme{
    background-color: black;
    color: white;
}
.main{
    background: var(--primary-color);
}
.hero{
    height:100vh;
    width: 100%;
    background-color: var(--primary-color);
    font-family: sans-serif;
    position: relative;
    padding-bottom: 100px;
}
nav{
    width: 100%;
    position: relative;
    top: 20px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff7f7f;
    border-radius: 30px;

}
nav>ul>li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
    right: 80px;
}
nav img{
    position: relative;
    right: 60px;
    bottom: 1px;
}
nav>ul>li>a{
    text-decoration: none;
}
nav ul li a:active{
    color: rgb(42, 31, 206);
}
.info{
    margin-top: 15%;
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
}
.details{
    position: relative;
    left: 8%;
    width: fit-content;
}
.details>h1{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
span{
    color: #d43636;
}
.details>p{
    color: rgb(107, 100, 100);
    line-height: 22px;
}
.details>a{
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.hero ul li a{
    background-color: #ff7f7f;
    color: #000106;
    padding: 8px;
    border-radius: 10px;
}
#icon{
    width: 20px;
    cursor: pointer;
}
nav>ul{
    flex: 1;
    text-align: right;
}
.image{
    width: 15%;
    height: 50%;
    position: absolute;
    right: 150px;
    bottom: 50px;
    border-radius: 10px;
    border: 1px solid black;
}
.back1{
    width: 15%;
    height: 50%;
    position: absolute;
    right: 250px;
    bottom: 110px;
    border-radius: 10px;
    filter: opacity(0.8);
    transition: all 0.3s ease-in-out;
}
.back1.animate{
    transform: translateY(100px);
}
.back2{
    width: 15%;
    height: 50%;
    position: absolute;
    right: 80px;
    bottom: -30px;
    border-radius: 10px;
    filter: opacity(0.8);
    transition: all 0.3s ease-in-out;
}
.back2.animate{
    transform: translateY(-125px);
}
.img-box h1{
    position: absolute;
    bottom: 530px;
    right: 60px;
    text-align: center;
    color: #d43636;
    font-size: 45px;
    font-family: poppins;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
}
.container.darktheme{
    background-color: var(--primary-color);
    color: black
}
.form-container.darktheme{
    color: black;
}
.contact {
    color: black;
    width: 50%;
}
.contact.darktheme{
    color: white;
}

#link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    width: 100%;
}
.contact1.darktheme{
    color: white;
}
.contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact1 a {
    color: black;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}
.contact.darktheme a{
    color: white;
}
.contact > i {
    margin-right: 10px;
}

.form-container {
    background-color: white;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-container > h3 {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 20px;
}

.input label {
    display: block;
    margin-bottom: 5px;
}

.input input, .input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input input:focus, .input textarea:focus {
    outline: none;
    border-color: #ff7f7f;
}

.input textarea {
    resize: none;
    height: 100px;
}

.btn {
    display: block;
    width: 100%;
    background-color: #ff7f7f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #ff5656;
}