*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
.darktheme{
    --primary-color:#000106;
    --secondary-color:#fff;
}
body{ 
    background-color: #edf2fc;
}
.hero.darktheme{
    background-color: black;
    color: white;
}
.main{
    background: var(--primary-color);
}
nav{
    width: 100%;
    position: fixed;
    top: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff7f7f;
    border-radius: 30px;
    z-index: 99;
    flex-direction: row;
}
nav h3{
    padding-left: 30px;
}
nav ul{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    width: 40%;
}
nav>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    margin: 10px 20px;
}
nav>ul>li>a{
    text-decoration: none;
}
nav ul li a:active{
    color: rgb(42, 31, 206);
}
.hero{
    height:auto ;
    max-width: 100%;
    background-color: var(--primary-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 300px;
    height: 40vh;
    width: 90%;
}
.info{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background: var(--primary-color);
}
.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-left: 50px;
}
.details>h1{
    font-size: 70px;
    text-align:start;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
span{
    color: #d43636;
}
.details>p{
    color: rgb(107, 100, 100);
    line-height: 22px;
}
.details>a{
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.hero ul li a{
    /* background-color: #ff7f7f; */
    color: #000106;
    padding: 8px;
    border-radius: 10px;
}
#icon{
    width: 20px;
    cursor: pointer;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:100px ;
}
.img-box img{
    width: 100px;
    height: 100px;

}
 .img-box .image{
    height: 280px;
    width: 180px;
    border-radius: 30px;
    z-index: 97;
    /* position: relative;
    z-index: 90; */
}
.img-box .back1{
    height: 240px;
    width: 160px;
    border-radius: 30px;
    position: relative;
    left: 70px;
    opacity: 0.8;
}
.img-box .back1.animate{
    transform: translateX(-20px);
    animation: ease-out;
}
.img-box .back2{
    height: 240px;
    width: 160px;
    border-radius: 30px;
    position: relative;
    right: 70px;
    opacity: 0.8;
}
.img-box .back2.animate{
    transform: translateX(20px);
    animation: ease-out;
}
.info-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    gap: 20px;
}
.info-icon a:hover{
    color: #ff5656;
}
.hero.darktheme .info-icon a{
    color: whitesmoke;
}
.hero.darktheme .info-icon a:hover{
    color: #ff5656;
}
/* about */
.about-wrap{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{ 
    width: 90%;
    height: 50vh;
    border-radius: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(white,whitesmoke,lightgrey);
}
.hero.darktheme .about{
    background: linear-gradient(rgb(65, 63, 63),rgb(43, 35, 35),rgb(24, 24, 24));
    color: whitesmoke;
}
.about p{
    width: 70%;
}
.about-image img{
    margin-right: 40px;
    height: 230px;
    width: 300px;
    border-radius: 30px;
}
.about-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 30px;
}
.about-info p{
    line-height: 25px;
    font-size: 18px;
}
.about-info h2{
    color: #d43636;
    font-size: 40px;
}
/* contact */
span{
    color: red;
}
.contact-wrap{
    height: 100vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-wrap .contact{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.contact-wrap .contact p{
    font-size: 18px;
    width: 60%;
}
.contact-wrap .contact h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #d43636;
}
#link{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#link a{
    text-decoration: none;
    color:black;
}
.form-container {
    background-color: white;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 40px;
}
.hero.darktheme .form-container{
    background: linear-gradient(rgb(65, 63, 63),rgb(43, 35, 35),rgb(24, 24, 24));
}
.hero.darktheme .form-container label{
    color: whitesmoke;
}
.hero.darktheme .form-container input,textarea{
    background-color: #ccc;
}
.hero.darktheme #link >a{
    color: whitesmoke;
}
.form-container input{
    gap: 30px;
}
.form-container h3 {
    color: #d43636;
    text-align: center;
    gap: 20px;
}

.input {
    margin-bottom: 20px;
}

.input label {
    display: block;
    margin-bottom: 5px;
}

.input input, .input textarea {
    background-color:whitesmoke;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input input:focus, .input textarea:focus {
    outline: none;
    border-color: #ff7f7f;
}

.input textarea {
    resize: none;
    height: 100px;
}

.btn {
    display: block;
    width: 100%;
    background-color: #ff7f7f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #ff5656;
}
/* resume */
.education, .project, .certificate, .intern, .skill, .objective, .header-wrap{
    width: 100%; 
    margin: 0 auto; 
    padding: 10px; 
}
.resume-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180vh;
}
.wrap, .project-wrap, .date {
    width: 100%;
}
.main {
    width: 90%; 
    margin: 0 auto; 
    padding: 10px;
}
.hero.darktheme .main{
    color: whitesmoke;
    background: linear-gradient(rgb(65, 63, 63),rgb(43, 35, 35),rgb(24, 24, 24));
}
.hero.darktheme .main h3{
    border-bottom: 1px solid white;
}
.hero.darktheme .address p{
    color: whitesmoke;
}
.hero.darktheme .address a{
    color: whitesmoke;
}
.address p,a{
    text-decoration: none;
    color: black;
}
.pg, .freshcart, .intern, .certificate, .skill {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.objective{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.education{
    gap: 10px;
}
.education .pg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}
.education-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
   
}
ul {
    width: 100%;
}

ul li {
    list-style: none;
}

.pg > .wrap, .freshcart > .project-wrap {
    margin-bottom: 10px;
}

.project-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-wrap p{
    width: 60%;
}
#project-title{
    width: 60%;
    font-size: 16px;
    font-weight: bold;
}
.date {
    text-align: right;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.certificate{
    gap: 10px;
}
.certificate-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intern{
    display: flex;
    gap: 10px;
}
.UI{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}
.UI p{
    width: 60%;
}
.main h3{
    color:rgb(212, 54, 54);
    border-bottom:2px solid  #000106;
}
.main h1{
    color:#d43636;
}
.main{
    background:linear-gradient(#F8EDE3,#DFD3C3,#D0B8A8);
    border-radius: 30px;
}
.skill-wrap ul {
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction:row ;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-top: 20px;
}

.skill-wrap li {
    margin: 10px; 
    padding: 5px 10px;
    background-color: white; 
    border-radius: 5px;
    text-align: center;
}
.hero.darktheme .skill-wrap li{
    color: white;
    background:linear-gradient(rgb(65, 63, 63),rgb(43, 35, 35),rgb(65, 63, 63)); 

}
.skill-wrap li:hover{
    background-color: #ff5656;
}
/* project-context */
.project-context-info img{
    height: 150px;
    width: 220px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.project-context-info #pp,#ph3{
    width: 100%;
    text-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 20px;
    margin: 10px;
    margin-left: 10px;
    text-wrap: wrap;
}
.project-context-info #ph3{
    margin-right: 30px;
    width: 100%;
    align-items: flex-start;
}
.project-context-info #ph3:nth-child(2){
    align-self: flex-start;
}
.project-context-info #pp{
    display: flex;
    padding-top: 5px;
    height: 80px;
    width: 100%;

}
.project-context-info #pa{
    display: flex;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}
.project-context-info #pa:hover{
    color: #ff5656;
}
.project-context-info{
    background: linear-gradient(lightgrey,whitesmoke,lightgrey);
    width: 20%;
    height:60vh;
    padding: 20px;
    border-radius: 30px;
    margin: 30px;
}
.hero.darktheme .project-context-info{
    background: linear-gradient(rgb(65, 63, 63),rgb(43, 35, 35),rgb(65, 63, 63));
}
.hero.darktheme .project-context-info #pa{
    color: rgb(89, 89, 204);
}
.hero.darktheme .project-context-info #pa:hover{
    color: #ff5656;
}
.project-context-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-context{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
}
.project-context-wrapfull #ph2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 75%;
    font-size: 36px;
    padding-top: 80px;
    margin-left: 50px;
    color: #d43636;
}
.project-context-wrapfull{
    background: linear-gradient(white,whitesmoke,white);
    width: 100%;
    height:100vh;
    padding-top:3opx;
    margin-top: 30px;
}
.hero.darktheme .project-context-wrapfull{
    background: #000106;
}
/* footer */
footer{
    color: whitesmoke;
    height: 50px;
    width: 100%;
    background: linear-gradient(rgb(65, 63, 63),rgb(102, 90, 90),rgb(65, 63, 63));
    display: flex;
    align-items: center;
    justify-content: center;
}
.ficon a{
    color: whitesmoke;
   font-size: 20px;
   margin-left: 20px;
   margin-top: 10px;
}
.ficon a:hover{
    color: #ff5656;
}
.ficon a:nth-child(1){
    padding-left: 100px;
}

@media (max-width:480px){
    body{
        overflow-x: hidden;
    }
    .profile-wrap{
        position: relative;
        gap: 0px;
        top: 100px;
        flex-direction: column-reverse;
    }
    .img-box .image{
        display: flex;
        position: relative;
        top: 90px;
        left: 40px;
        height: 200px;
        width: 140px;
    }
    .img-box .back1{
        display: flex;
        position: relative;
        top: 90px;
        left: 140px;
        height: 180px;
    }
    .img-box .back2{
        display: flex;
        position: relative;
        top: 90px;
        height: 180px;
    }
    .header-wrap{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .about{
        height: 80vh;
        flex-direction: column;
    }
    .details{
        height: 60vh;
        width: 100%;
    }
    .details h1{
        font-size: 43px;
        align-items: flex-start;
    }
    .contact{
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        width: 70%;
    }
    .form-container{
        width: 80%;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height:60px;
    }
    nav h3{
        display: none;
    }
    nav ul{
        width: 100%;
    }
    .contact-wrap {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        padding-bottom: 50px;
    }
    
    .contact > p {
        display: none;
    }
    #link {
        grid-template-columns: 1fr;
        width: 300px;
    }
    .form-container {
        margin-top: 10px;
        width: 100%;
        padding: 15px;
    }

    .btn {
        font-size: 14px;
        padding: 8px;
        width: 93%;
    }
    .input{
        width: 92%;
    }
    .project-context{
        flex-direction: column;
    }
    .project-context-wrapfull{
        height: 180vh;
    }
    .project-context-info{
        width: 60%;
        margin-left: 80px;
    }
    .project-context-wrapfull #ph2{
        margin-left: 220px;
    }
}